* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  body {
    background: black;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Header Section */
    .site-header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-grow: 1;
      &.shrink {
        .site-logo img {
          width: 150px;
          margin-top: 2em;
          @include tablet {
            margin-right: 3em;
            width: 120px;
          }
        }
      }
      @include tablet {
        flex-direction: row;
      }
      @include desktop {
        justify-content: flex-start;
        .site-logo img {
          margin-left: 1em;
          margin-right: 5em;
        }
      }
      .site-logo {
        .site-logo img {
          width: 100%;
        }
      }
    }

    /* Main-Article Section */
    .main-article {
      &.grow {
        flex-grow: 1;
      }
      .article-wrapper {
        ul {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;
          list-style: none;
          padding: 0;
          max-width: 100%;
          @include mobile {
          }
          .list-article {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            min-height: 310px;
            width: 100%;
            @include mobile {
              width: 50%;
            }
            @include tablet {
              width: 33.33%;
            }
            @include desktop {
              width: 25%;
            }
            a {
              position: relative;
              text-decoration: none;
              color: white;
              height: 400px;
              background-position: 50%;
              background: cover;
              .stories-container {
                position: absolute;
                background: rgba(0, 0, 0, 0.6);
                bottom: 0;
                width: 100%;
              }
            }
          }
        }
      }
    }

    /* Footer Section */
    .copyright {
      text-align: center;
      color: #c2c2c2;
      @include desktop {
        text-align: left;
        margin-left: 1em;
      }
    }
    /* Loader image */
    .loader {
      display: none;
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
    }
  }
}
