*   {
    box-sizing: border-box;
    // border: solid 1px yellow;
}
html    {
    font-size: 16px;
}
body {
    background: black;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
}
li  {
    list-style: none;
}
img {
    max-width:100%;
    height: auto;
}

/*This is Header*/
.site-header  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    transition: .5s;
}
.site-logo {
    width: 300px;
    margin-bottom: 1rem;
    text-align: center;
}
.choose-section{
    width: 300px;
    text-align: center;
}
.choose-section p{
    margin-bottom:1em;
    margin-top: 0;
}
select{
    color:black;
    background: white;
}
option{
    font-size: 1.5em;
    font-weight:normal;

/*this is a trial for on change event*/
  }
    .main-article {
       
 
      }

.shrink {
  flex-grow: 0;
    margin-bottom: 1em;
    margin-top: 1em;
}

.grow {
  flex-grow: 1;
}
/*this is a trial for on change event*/

/*This is Select section*/
li{
    color: white;
    max-width: 100%;
    flex: 0 1 100%;
}

ul {
padding: 0;
margin: 0;
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.stories-article .article-container{
position: relative;
display: block;
width: 100%;
height: 420px;
background-position: 50%;
background-size: cover;
}
a{
    text-decoration-line: none;
    color:white;
    min-height: 300px;
}

.article-container{
    min-height: 300px;
}


.stories-container{
    display: flex;
    position: absolute;
    bottom:0;
    background: rgba(0,0,0,0.7);
    width: 100%;



}
footer{
    text-align: center;
    margin-bottom: 3em;
    color:#c2c2c2;

}

/* Media Query for tablet:600px screen sizes */

@media screen and (min-width: 480px) {
    li  {
       max-width: 50%;
}
}
@media screen and (min-width: 600px) {
    .site-header  {
        flex-direction: row;
        text-align: left;
        justify-content: center;
    .choose-section .site-logo{
      width: 10%;
    }
    }
}
@media screen and (min-width: 1000px) {
    li  {
        max-width: 25%;
    }
}